body
{
	background: #141513; /* Цвет фона */
    color: white; /* Цвет текста */
}
hr
 {
  	height: 2px;
  	border: 0;
  	background-color: orange;
 }
h2
{
	text-align: center;
}
 /*Постеры кинох*/
.info
{
	border: 2px solid black;
	display: inline-block;
	margin-left:25px;
	margin-bottom: 25px;
	text-align: center;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.info:hover 
{
	box-shadow:
	    1px 1px gray,
        2px 2px gray,
        3px 3px gray,
        4px 4px gray,
        5px 5px gray;

    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
 }

 /*Менюшка*/
.a_menu {

	text-decoration: none; /*Минус подчеркивание*/
  	margin-left:30px;
  	color: white;
  	font-size: 35px;

}
.a_menu:hover{

	text-decoration: underline;
}
.li_menu {
  display: inline;
}
.img_menu
{
	text-decoration: none;
}
nav {
	display: flex;
	text-align: left;
	background: #141513;
}
/*Обратная связь и т.п*/
.div_one
{
	display: inline-block;
	margin-left: 10px;
}